{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table" action="/history" method="post">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr class = "thead-light">
                    <th>{{ stock["symbol"] }}</th>
                    <th>{{ stock["shares"] }}</th>
                    <th>{{ stock["price"] }}</th>
                    <th>{{ stock["transacted"] }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}